# Secrets : CREDS, FOLDER_ID
# Requires: GCP Service Account to have write access to the folder
name: Main
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Render LaTeX
        run: |
          sudo apt-get update
          sudo apt-get install -y texlive-latex-base texlive-fonts-recommended texlive-fonts-extra
          
          cd resumes
          for resume in *.tex; do
              pdflatex "$resume"
              REDACTED="${resume%.tex}_REDACTED.tex"
              sed 's/{false}/{true}/g' "$resume" >  "$REDACTED"
              if cmp -s $resume $REDACTED; then
                rm "$REDACTED"
                continue
              fi
              pdflatex "$REDACTED"
          done
          cd ..
          zip -R resumes 'resumes/*.pdf'

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: resume
          path: resumes.zip

  upload:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: resume
          path: .

      - name: List files for debugging
        run: |
          unzip resumes.zip

      - name: Upload to Google Drive
        uses: adityak74/google-drive-upload-git-action@main
        with:
          credentials: echo ${{ secrets.CREDS }} | base64
          filename: "resumes/*.pdf"
          folderId: ${{ secrets.FOLDER_ID }}
          overwrite: "true"
